
<h2>Finlandiahiihto Predicters Model Creator</h2>

<p id="results"></p>

<p style="color: red;" id="warning"></p>

<input type="text" placeholder="distance" name="distance" id="distance" /><br>

<input type="button" onclick="createModel();" value="Create" id="button" name="button" />

<script type="text/javascript" src="js/sketch.js"></script>