<script>
    // Set button disabled at first
    $( document ).ready(function() {
        $('#button').prop('disabled', true);
        $('#place').prop('disabled', true);
        $('#rain').prop('disabled', true);
        $('#snow').prop('disabled', true);
        $('#temp').prop('disabled', true);

        $('#contentRow').css('min-height', $(document).height() * 0.8);
    });
</script>

<div class="container text-center" style="max-width: 90%;">

    <!--Grid row-->
    <div class="row justify-content-center" style="padding: 1vw;">

        <div>

            <h2>Finlandia-hiihto Predicter</h2>

        </div>

    </div>

    <!--Grid row-->
    <div class="row" id="contentRow">

        <div class="col border_div">

            <h4>How to use:</h4>

            <p style="text-align: justify;">
            Press the "Choose file"-button to choose files.
            Navigate to the install/clone folder
            and from there to > predictor-models > "wanted distance" > choose all 3 files,
            model.json, model_meta.json and model.weights.bin. <br><br>
            If loading succeeded the "Predict"-button and input fields will be enabled
            and there will be no error message. <br><br>
            Then give values to inputs.
            Place and snow are whole numbers,
            rain and temperature are decimal numbers, with dot (.) as decimal point. <br><br>
            After that press "Predict"-button and enjoy results! <br><br>
            If you want to change the distance, just load those 3 files again
            from the new distance folder that you want. No need to reload the page!
            </p>

        </div>

        <div class="col border_div">

            <br>

            <div class="input-group mb-3">
                <div class="custom-file" style="text-align: left;">
                    <input class="custom-file-input" type="file" id="fileInput" multiple 
                        onchange="trainModel(this.files)" accept=".json, .bin">
                    <label class="custom-file-label" for="fileInput" id="fileLabel">Choose file</label>
                </div>
            </div>

            <p id="info"></p>
            <p style="color: red;" id="warning"></p>

            <div class="input-group mb-3">
                <input class="form-control" type="text" placeholder="Place" name="place" id="place" />
            </div>

            <div class="input-group mb-3">
                <input class="form-control" type="text" placeholder="Rain" name="rain" id="rain" />
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon1" style="width: 4vw;">mm</span>
                </div>
            </div>

            <div class="input-group mb-3">
                <input class="form-control" type="text" placeholder="Snow" name="snow" id="snow" />
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon1" style="width: 4vw;">cm</span>
                </div>
            </div>

            <div class="input-group mb-3">
                <input class="form-control" type="text" placeholder="Temperature" name="temp" id="temp" />
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon1" style="width: 4vw;">&deg;C</span>
                </div>
            </div>

            <div class="input-group mb-3">
                <input class="btn btn-outline-secondary form-control" type="button" onclick="getResult();" 
                    value="Predict" id="button" name="button" />
            </div>

            <div id="results"></div>

        </div>

        <div class="col border_div">

            <h4>Info about the tool:</h4>

            <p style="text-align: justify;">
            This prediction model uses ml5.js library that is 
            a machine learning library built on tensorflow.js. <br><br>
            It takes best 100 skiers from each year from years 2009-2019
            (in Finlandia-hiihto, in that distance) and uses placing and name data from those.
            For each year it also takes the exact date's weather data 
            from "Ilmatieteenlaitos" history data:
            amount of rain (mm), amount of snow (cm) and air temperature (&deg;C).
            Then it combines all of that data and creates a predictive model. <br><br>
            This tool is part of groups "Internet Explorers" project work 
            on course "Ohjelmistojen suunnittelu" in Tampere University. <br><br>
            Tool was created in spring 2020.
            </p>

        </div>

    </div>

    <p style="color: lightgrey; padding: 1vw;">Tool by: <i>Internet Explorers</i></p>

</div>

<script type="text/javascript" src="js/sketch.js"></script>